
<VirtualHost {{ httpd_host_ip }}:{{ httpd_host_port }}>
    {% if httpd_host_email is defined %}
    ServerAdmin {{ httpd_host_email }}
    {% endif %}
    ServerName {{ http_host_fqdn }}
    {% if httpd_host_alias is defined %}
    ServerAlias {{ httpd_host_alias }}
    {% endif %}
    DocumentRoot /var/www/{{ httpd_host_fqdn }}/public_html
    ErrorLog /var/www/{{ httpd_host_fqdn }}/logs/error.log
    CustomLog /var/www/{{ httpd_host_fqdn }}/logs/access.log combined
</VirtualHost>