
<VirtualHost {{ httpd_host_ip }}:{{ httpd_host_port }}>
    {% if httpd_host_email is defined %}
    ServerAdmin {{ httpd_host_email }}
    {% endif %}
    ServerName {{ http_host_fqdn }}
    {% if httpd_host_alias is defined %}
    ServerAlias {{ httpd_host_alias }}
    {% endif %}
    DocumentRoot /var/www/{{ httpd_host_fqdn }}/public_html
    {% if httpd_host_encrypted %}
    SSLEngine on
    SSLCertificateFile {{ httpd_host_cert }}
    SSLCertificateKeyFile {{ httpd_host_key }}
    SSLCertificateChainFile {{ httpd_host_chain }}
    {% endif %}
    ErrorLog /var/log/httpd/{{ httpd_host_fqdn }}_error.log
    CustomLog /var/log/httpd/{{ httpd_host_fqdn }}_access.log combined
</VirtualHost>